<div ngbDropdown class="d-inline-block">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="dropdownMenuButton" id="sortMenu" ngbDropdownToggle>
    <i class="fa fa-tasks fa-fw"></i>
  </a>
  <ul class="dropdown-menu dropdown-tasks">
  <li>
      <a href="#">
          <div>
              <p>
                  <strong>Task 2</strong>
                  <span class="pull-right text-muted">20% Complete</span>
              </p>
              <p><ngb-progressbar type="success" [value]="25">25</ngb-progressbar></p>
          </div>
      </a>
  </li>
  <li class="divider"></li>
  <li>
      <a class="text-center" href="#">
          <strong>See All Tasks</strong>
          <i class="fa fa-angle-right"></i>
      </a>
  </li>
</ul>
</div>
