<div id="wrapper">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">angular2 admin screen</a>
        </div>
        
        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <app-drop-down-envelope></app-drop-down-envelope>
            </li>
            <li class="dropdown">
                <app-tasks-list></app-tasks-list>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-bell fa-fw"></i>
                </a>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i>
                </a>
            </li>
        </ul>
    </nav>
          
    
    
</div>
<div class="container-fluid">
    
</div>
<!-- /#wrapper -->
