/* You can add global styles to this file, and also import other style files */
@import '~https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css';
@import '~https://blackrockdigital.github.io/startbootstrap-sb-admin-2/vendor/font-awesome/css/font-awesome.min.css';

body
{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

#wrapper
{
    width: 100%;
}

.navbar-default {
    background-color: #f8f8f8;
    border-bottom: 1px solid #e7e7e7;
    height: 48px;
}

@media (min-width: 768px) {
    .navbar-static-top {
        border-radius: 0;
    }
}

.navbar-static-top {
    z-index: 1000;
    border-width: 0 0 1px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links li a:hover {
    text-decoration: none;
    background-color: #eeeeee;
}